.items-cast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.item-cast {
  display: block;
  width: 200px;
  margin: 15px;
}
.title-cast {
  margin: 10px 0;
}
.text-cast {
  margin: 0;
}
