@import 'styles/shared.scss';

.nav-list-items {
  display: flex;
  list-style: none;
}

.naw-list-item:not(:last-child) {
  margin-right: 25px;
}

.nav-link {
  text-decoration: none;
}

.nav-link-activ {
  color: red;
}
